

#carouselExampleCaptions{
    
    opacity: 1;
    background-color: white;
}

.CarrouselImg{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
.card{
    
    background-color: rgb(220, 220, 247);
}
.iconP:hover{
    color: rgb(238, 238, 238);

}
h1{
    font-family: 'Alkalami', serif;
    color: rgb(36, 36, 124);
}